<div class="home-top">
  <div class="row mx-1">
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>  
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
      <button type="button" class="btn btn-success mt-3 shadow btn-lg">サイトマップ</button>
    </div>
    <div class="col">
      <%= link_to new_team_path do %> 
      <button type="button" class="btn btn-success ml-3 mt-3 shadow btn-lg">チーム登録</button>
      <% end %>
    </div>
    <div class="col"> 
      <% if logged_in? %>
        <%= link_to logout_path , method: "delete" do %>
          <button type="button" class="btn btn-success ml-3 mt-3 shadow btn-lg">ログアウト</button>
        <% end %>
      <% else %>
        <%= link_to login_path do %>
      <button type="button" class="btn btn-success ml-3 mt-3 shadow btn-lg">ログイン</button>
        <% end %>
      <% end %>
    </div>
    <div class="col">
      <button type="button" class="btn btn-success mt-3 shadow btn-lg ">問合せ</button>
    </div>  
  </div>
  <div class="text-center ">
    <h1 class="display-1 mt-5">Sal.com</h1>
    <h5 class="mt-1">〜シンプルにフットサルしたい人のマッチングサイト〜</h5>
  </div>
  <div class="container">
    <div class="col"> </div>
    <%= form_tag(root_path,method:'get') do %>
      <div class="row">
        <div class="col">
          <div class="form-group text-white ">
            <label for="pref">エリア</label>
              <select class="form-control" id="pref">
                <option value="">都道府県</option>
                <% prefectures.each do |p| %>
                  <option value="<%= p %>" <%= (@pref == p) ? 'selected' : '' %>><%= p %></option>
                <% end %>
                
              </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group text-success "> <label class="tema-level">チームレベル</label> <select class="form-control">
                  <option>★★★★★</option>
                  <option>★★★★</option>
                  <option>★★★</option>
                  <option>★★</option>
                  <option>★</option>
                </select> </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="date">日時</label>
            <input type="date" class="form-control" id="date" name="date" value=<%= @date %>>
          </div>
        </div>
        <div>
          <div class="col">
            <div class="form-group text-white">
              <label for="keyword">キーワード</label>
              <%= text_field_tag :keyword, @keyword, { class: 'form-control' }%>
            </div>
          </div>
        </div>
        <div class="col"> <br>
        <button type="submit" class="btn btn-primary mt-2">search</button></div>
      </div>
    <% end %>
    <div class="container">
      <div class="row mt-4 col-3 text-white">
        <h2 class="bg-success p-2">対戦相手募集中</h2>
      </div>
      <table class="table table-dark mt-3">
        <thead>
          <tr>
            <th scope="col">チーム名</th>
            <th scope="col">チームレベル</th>
            <th scope="col">場所</th>
            <th scope="col">日時</th>
            <th scope="col">チーム紹介</th>
            <th scope="col">チーム写真</th>
          </tr>
        </thead>
        <tbody>
          <% @recruits.each do |recruit| %>
            <tr>
              <td><%= link_to recruit_path(recruit) do %><%= recruit.team.name %><% end %>
              </td>
              <td>
                <% recruit.level_type.times do %>★<% end %>
              </td>
              <td>
                <%= recruit.prefecture %><%= recruit.address %>
              </td>
              <td>
                <%= recruit.start_at.strftime("%Y/%m/%d %H:%M") %> ~ <%= recruit.end_at.strftime("%H:%M") %>
              </td>
              <td>
                <%= recruit.comment %>
                </td>
              <td>
                <%= image_tag(recruit.team.image_url, width: '100px') if recruit.team.image? %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="row">
        <div class="col">
        </div>  
        <div class="col">
        </div>
        <div class="col">
        </div>
        <%= link_to new_recruit_path do %> 
        <button type="button" class="btn btn-warning mt-2 shadow btn-lg">対戦相手募集へ</button>
        <% end %>
      </div>  
    </div>
  </div>
</div>